.actions-box {
  padding: 24px;
  margin-right: 24px;
  min-height: 238px;
  background: #fff;
}

.btn-new-job {
  background: red;
  border-color: grey;
}

.actions-box-row-first {
  padding-bottom: 24px;
}